body{
background-color: white;
margin: 0px;
font-family:Arial, Helvetica, sans-serif;
} 




#introText{
    color: #000000;
}
 r
#mainContainer{
    width: 625px;
    margin:0px auto;
}

.highlight{
color: rgb(255, 0, 162);
font-weight: bold;
}

#introContainer{
width: 470px;
float: left;

}

#intropicture{
    float: left;
}

.reset{
clear:both;
}

    #hobbyContainer{
        width: 326px;
        float: left;
    }
#imgContainer{
    float: left;
}


    
#navaigation a {
  padding: 10px;
  background-color: rgb(157, 62, 62);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  float: left;
  
}
#navigation a:hover{
    background-color: rgb(136, 195, 188);

}
