body{
background-image: url(img/clouds_only\ Background-selfmade.jpg);
margin: 0px 0px 0px 0px;
font-family:Arial, Helvetica, sans-serif;
} 




#introText{
    color: #000000;
    width: 360px;
}
 
#mainContainer{
    width: 625px;
    margin:0px auto;
    background-color: #ffffff96;
}

.highlight{
color: rgb(255, 0, 0);
font-weight: bold;
}

#introContainer{
width: 470px;
float: left;

}

#intropicture{
    float: left;
    margin: 5px 1000px 0px 0px;
}

.reset{
clear:both;
}

    #hobbyContainer{
        width: 300px;
        float: left;
        margin: 5px 0px 0px 0px;
    }
#imgContainer{
    float: left;
}


    
#navigation a {
  padding: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  float: left;
  margin: 5px 1px 1px 1px;
  
}

#navigation a:hover{
    background-color: rgb(202, 67, 29);

}

#hobbies{
float: left;


}

#heroshot{
    float: left;
    margin: 40px 0px 0px 20px;

}
