body{
background-color: rgb(255, 255, 255)#;
margin: 0px;
font-family:Arial, Helvetica, sans-serif;

} 

#introText{
    color: #0000FF;
}

.highlight{
color: rgb(255, 0, 162);
font-weight: bold;
}

#introContainer{
width: 470px;
float: left;

}

#intropicture{
    float: left;
}

.reset{
clear:both;
}

    #hobbyContainer{
        width 326px;
        float: left;
    }
#imgContainer{
    float: left;
}

#mainContainer{
    width: 625px;
    margin:0px; auto;
}
